<div class="col-xs-5 col-md-2">
	<div class="almanac--title">High</div>
	<div class="almanac--box">
		<div class="almanac--record">
			Record: {{model.almanac.high.record.F}}째<br/> set in {{model.almanac.high.recordyear}}
		</div>
		<div cass="almanac--normal">
			Normal: {{model.almanac.high.normal.F}}째
		</div>
	</div>
</div>
<div class="col-xs-5 col-md-2">
	<div class="almanac--title">Low</div>
	<div class="almanac--box ">
		<div class="almanac--record">
			Record: {{model.almanac.low.record.F}}째<br/> set in {{model.almanac.low.recordyear}}
		</div>
		<div cass="almanac--normal">
			Normal: {{model.almanac.low.normal.F}}째
		</div>
	</div>
</div>
